.mine {
    border-radius: 50%;
    width: 90%;
}


.pink {
    background-color: #e55773;
    color: #ffffff;
}

.blue {
    background-color: #76d3d7;
    color: #ffffff;
}

.yellow {
    background-color: #8d8720;
    color: #ffffff;
}
.move:hover{
    cursor: pointer;
}
.hlo{
    font-size: 100px;
    font-family:'Aclonica';
}
.homeabout{
    font-size: 30px;
    font-family:'Aclonica';
}
.abtme{
    padding-top: 25%;
    padding-bottom: 20%;
}
