.mine {
    border-radius: 50%;
    width: 90%;
}

.move:hover{
    cursor: pointer;
}
.hlo{
    font-size: 100px;
    font-family:'Aclonica';
}
.homeabout{
    font-size: 30px;
    font-family:'Aclonica';
}
.abtme{
    padding-top: 25%;
    padding-bottom: 20%;
}
.contain{
padding-top: 5%;

}
.contain:hover .move{
    filter: blur(10px);
    transform: scale(0.9);
    opacity: 0.5;
}
.contain .move:hover{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}